# Build and Release Folders
/React/.vagrant
/Lamp/.vagrant
/Delphi7/.vagrant
/DelphiBerlin/.vagrant
/DelphiTokyo/.vagrant
# Other files and folders

# Executables

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
