# Build and Release Folders
/React/.vagrant
/Lamp/.vagrant
/DelphiCE/.vagrant
/Lamp-Container/backup/.vagrant
/Lamp-Container/database/.vagrant
/Lamp-Container/web/.vagrant
/Pentaho/.vagrant
/MEMCACHE/.vagrant
/Zammad/.vagrant
/Docker/.vagrant
/Node/.vagrant
# Other files and folders

# Executables

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
